<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Replace an Object</title>
</head>
<body>

<h1>The books that are not on the shelf:</h1>
<table border = 1>
        {% for book in book_list %}
            {% for title, author in book.items() %}
            <tr>
                <td> {{ title }} </td>
                <td> {{ author }} </td>
                <td> {{ pulisher }} </td>
            </tr>
            {% endfor %}
            <td><button type="button">RETURN</button></td>
        {% endfor %}
</table>

<h1>Select the book you would like to replace from the list above</h1>


<h2>Are you ready to let go of the book?</h2>
<button type="button">YES</button>
<button type="button">NO</button>


</body>
</html>