<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome the Settings, {{ username }}</title>
</head>
<body>

<h1>{{ Username }} pick an action you wuld like to perform:</h1>

<div id="Addition">
<h1>Would you like to add a book to the collection?</h1>

    <label for="title"><b>Title</b></label>
    <input type="text" placeholder="Enter Title" name="title" required>

    <label for="author"><b>Author</b></label>
    <input type="text" placeholder="Enter Author's Name" name="author">

    <label for="publisher"><b>Publisher</b></label>
    <input type="text" placeholder="Enter Publisher's Name" name="publisher">
    <button type="submit">Submit</button>
</div>


<div id="Removal">
<h1>Would you like to remove a book from the collection?</h1>

    <label for="title"><b>Title</b></label>
    <input type="text" placeholder="Enter Title" name="title" required>

    <label for="author"><b>Author</b></label>
    <input type="text" placeholder="Enter Author's Name" name="author">

    <label for="publisher"><b>Publisher</b></label>
    <input type="text" placeholder="Enter Publisher's Name" name="publisher">
    <button type="submit">Submit</button>
</div>



</body>
</html>